a {
  color: inherit;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", "Open Sans Condensed", "Apple SD Gothic Neo", "Sans-serif";
  -webkit-text-size-adjust: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
strong {
  font-weight: 600;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.thumbs-wrapper {
  margin: 10px 0px 0px 0px !important;
}
.carousel .thumb {
  border: 1px solid #fff !important;
}
.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #d3d3d3 !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  display: none !important;
  /* margin: 0px !important;
  display: inline-block;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  content: ""; */
}


body{
  padding-top: 65px;
}
.carousel .thumb img{
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .thumb {
    height: 60px !important;
  }

}
@media only screen and (min-width: 600px) {
  .thumb {
    height: 68px !important;
  }
}
@media only screen and (min-width: 768px) {
  .thumb {
    height: 68px !important;
  }
}
@media only screen and (min-width: 992px) {
  .thumb {
    height: 68px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .thumb {
    height: 68px !important;
  }
}

.carousel img {
  width: 100%;
  height: 100%;
}


.unset-image{
  position: relative !important;
  height: unset !important;
}


.carousel.carousel-slider {
  overflow: initial !important;
  margin-top: 20px !important;
}

.carousel .carousel-status {
  top: -20px !important;
  text-shadow: 0 0 black !important;
  color: #999 !important;
}